<header ng-controller="titulos">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
            <a href="http://ipn.mx"><%= image_tag "header_sw2016.png", alt:"LOGO IPN",class: "img-responsive" %></a>
          </div>
          <div class="hidden-xs col-sm-6 col-md-5 col-lg-4 text-center margen">
            <ul class="menu">
              <li ng-repeat="ipn in titulos_ipn"><a href="{{ipn.enlace}}">{{ipn.titulo}}</a></li>
            </ul>
          </div>
      </div>
  </div>

  <nav class="navbar color-5 blanco">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#menumovil">
              <span class="sr-only">Menu</span>
          </button>
          <a class="navbar-brand blanco hidden-xs" href="/">
            <%= image_tag "logoESCOMSolo.png", alt:"LOGO IPN",class: "img-responsive icono-margin" %>
          </a>
          <p class="navbar-text blanco small-padding tam-letter">Seguimiento de Solicitudes de Constancias de la ESCOM.</p>
        </div>
        <div class="collapse navbar-collapse navbar-right blanco" id="menumovil">
          <ul class="navega">
            <li><button type="button" data-toggle="modal" data-target="#informacion">ACERCA DE</button></li>
            <li><a href="/gestionescolar/iniciarsesion.html iniciasesion">INICIAR SESIÓN</a></li>
          </ul>
        </div>
      </div>
  </nav>

  <div class="modal fade" id="informacion" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--Encabezado de ayuda-->
        <div class="modal-header color-5 blanco">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="blanco">&times;</span></button>
          <h3 class="modal-title">Acerca de la aplicación</h3>
        </div>
        <!--Contenido de ayuda-->
        <div class="modal-body">
          <p>Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito del Director General del Instituto. ®2017</p>
        </div>
        <!--Pie de página de ayuda-->
        <div class="modal-footer color-5">
          <button class="btn color-4 blanco" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</header>


