<header ng-app="ECGE" ng-controller="titulos">
  <div class="container">
      <div class="row">
          <div class="{{logo_ipn.clase}}">
            <a href="{{logo_ipn.enlace}}"><%= image_tag "header_sw2016.png", alt:"LOGO IPN",class: "img-responsive" %></a>
          </div>
          <div class="col-md-2 col-lg-2"></div>
          <div class="hidden-xs col-sm-6 col-md-5 col-lg-4 margen">
            <ul class="menu">
              <li ng-repeat="ipn in titulos_ipn"><a href="{{ipn.enlace}}">{{ipn.titulo}}</a></li>
            </ul>
          </div>
      </div>
  </div>

  <nav class="navbar color-5 blanco">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#menumovil">
              <span class="sr-only">Menu</span>
          </button>
          <a class="navbar-brand blanco hidden-xs" href="/">
            <%= image_tag "logoESCOMSolo.png", alt:"LOGO IPN",class: "img-responsive icono-margin" %>
          </a>
          <p class="navbar-text blanco small-padding tam-letter">Seguimiento de Solicitudes de Constancias de la ESCOM.</p>
        </div>
        <div class="collapse navbar-collapse navbar-right blanco" id="menumovil">
          <ul class="navega">
            <li><a href="#info">ACERCA DE</a></li>
            <li><a href="/gestionescolar/iniciarsesion.html">INICIAR SESIÓN</a></li>
          </ul>
        </div>
      </div>
  </nav>


</header>


