<footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 margenes">
          <h4>Instituto Politécnico Nacional</h4>
          <h4>Escuela Superior de Cómputo</h4>
          <p class="text-justify parrafo">
              Av. Juan de Dios Bátiz s/n esq. Av. Miguel Othón de Mendizabal.
              Colonia Lindavista. Demarcación Territorial: Gustavo A. Madero.
              Teléfono 57296000, Ext. 46188. Ciudad de México. C. P. 07738.
          </p>
          <hr>
        </div>
        <div class=" col-xs-12 col-sm-6 col-md-6">
          <div class="text-justify parrafo">
            <%= image_tag "tb2.png",align:"left",class: "img-responsive"%>
            <strong class="texto-icon">
                Unidad de Tecnología Educativa y Campus Virtual
            </strong>
            <p class="espacio">
                Esta página es una obra intelectual protegida por la Ley Federal
                del Derecho de Autor, puede ser reproducida con fines no lucrativos,
                siempre y cuando no se mutile, se cite la fuente completa y su dirección
                electrónica; su uso para otros fines, requiere autorización previa y por
                escrito del Director General del Instituto. &reg;2017
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>

