<div class="fondo">
  <div class="container-fluid">
    <div class="row">
      <div class="bloque">
          <div class="row">
              <div class="col-sm-12">
                  <h2 class="blanco text-center">Bienvenido (a)</h2>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="lead">
                  Este sistema te ayudará a darle seguimiento a tus constancias
                  para facilitarte el proceso de trámite y/u obtener información
                  acerca de las constancias que puedes solicitar.
              </p>
            </div>
          </div>
      </div>

      <div ng-controller="mensajeconstruccion" class="container" style="margin-left: 550px; position: relative; top: -200px;">
        <button type="button" class="btn btn-info btn-lg" ng-click="mensaje()">
          Más Información
        </button>
      </div>
    </div>
  </div>
</div>

