<div class="fondo">
  <%= image_tag "foto_escom.png",class: "img-responsive"%>
</div>
<div ng-controller="lista_constancias">
  <div class="row">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-6 col-md-6 color-4 bg-color-1 text-center tipos_constancias">
          <h2 class="constancia-title">¿Qué tipo de Constancias puedo trámitar?</h2>
          <ul class="list-unstyled list-constancias">
            <li ng-repeat="tipo in constancias"><h4 class="constancia">{{tipo}}</h4></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 color-1 bg-color-3 text-center">
            <h2 class="cuenta">¿No tienes cuenta?</h2>
            <h4 class="text-justify msg_reg">
                Para poder solicitar constancias es necesario que tengas una cuenta
                activa e iniciar sesión. En caso contrario deberás registrarte en el
                botón de abajo ¿Qué estas esperando? registrate y solicita tus
                constancias en cualquier momento.
            </h4>
            <button class="boton_reg color-5 blanco">REGISTRATE</button>
        </div>
    </div>
  </div>
</div>

<div ng-controller="mensajeconstruccion" class="container center-block">
  <button type="button" class="btn btn-info btn-lg" ng-click="mensaje()">
    Más Información
  </button>
</div>