<div class="fondo">
  <%= image_tag "foto_escom.png",class: "img-responsive"%>
</div>
<div ng-controller="lista_constancias">
  <div class="row">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-6 col-md-6 color-4 bg-color-1 text-center tipos_constancias">
          <h2 class="constancia-title">¿Qué tipo de Constancias puedo trámitar?</h2>
          <ul class="list-unstyled list-constancias">
            <li ng-repeat="tipo in constancias"><h4 class="constancia">{{tipo}}</h4></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 color-1 bg-color-3 text-center">
            <h2 class="cuenta">¿No tienes cuenta?</h2>
            <h4 class="text-justify msg_reg">
                Para poder solicitar constancias es necesario que tengas una cuenta
                activa e iniciar sesión. En caso contrario deberás registrarte en el
                botón de abajo ¿Qué estas esperando? registrate y solicita tus
                constancias en cualquier momento.
            </h4>
            <button class="boton_reg color-5 blanco">REGISTRATE</button>
        </div>
    </div>
  </div>
</div>

<div class="color-5 blanco">
  <div class="container-fluid text-center">
    <h2>Ubicación</h2>
  </div>
</div>

<div class="color-1 bg-color-4" ng-controller="direccion">
  <div class="container-fluid text-justify">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3 class="text-center">Dirección</h3>
        <ul class="list-unstyled list-constancias">
          <li ng-repeat="x in datos"><span class="{{x.icono}}"></span>{{x.descripcion}}</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 container">
        <div id="mapa" class="img-responsive"></div>
        <script>
            //Localizacion de ESCOM
            function initMap() {
              var x = 19.504901;
              var y =  -99.146910;
              var latitud = new google.maps.LatLng(x,y);
              var opciones_mapa = {
                  zoom: 16,
                  center: latitud
              }
              var map = new google.maps.Map(document.getElementById('mapa'),opciones_mapa);
              var marcador = new google.maps.Marker({
                  position: latitud,
                  title:"Escuela Superior de Cómputo"
              });
              marcador.setMap(map);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd1DcMD4J7TP5WoFQHsXWurJRdVuHt3aU&callback=initMap" async defer></script>

      </div>
    </div>
  </div>
  <div ng-controller="mensajeconstruccion" class="container center-block">
    <button type="button" class="btn btn-info btn-lg" ng-click="mensaje()">
      Más Información
    </button>
  </div>
</div>
