<div class="fondo">
  <br>
    <div class="container">
        <div class="bloque container blanco">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="text-center">Bienvenido (a)</h1>
              </div>
            </div>
           <div class="row">
             <div class="col-xs-12">
               <h4 class="lead" style="padding: 20px;">
                 Este sistema te ayudar치 a darle seguimiento a tus constancias
                 para facilitarte el proceso de tr치mite y/u obtener informaci칩n
                 acerca de las constancias que puedes solicitar.
               </h4>
             </div>
           </div>
        </div>

        <div class="row" style="margin-top: 50px; margin-left: 430px;">
          <div class="col-md-12">
            <button class="btn blanco color-4 boton">Iniciar Sesi칩n</button>
          </div>
        </div>
    </div>
  <br>
</div>
