<div class="container">
  <h1>Iniciar Sesión</h1>
  <p>Ingresa los datos que se te piden correctamente.</p>
  <form action="">
    <div class="form-group">
      <label for="correo" class="control-label">Correo Electrónico:</label>
      <input type="text" name="correo" placeholder="Ingresa correo electrónico" class="form-control">
    </div>
    <div class="form-group">
      <label for="pass" class="control-label">Contraseña:</label>
      <input type="text" name="pass" placeholder="Ingresa contraseña" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn color-5 blanco">INGRESAR</button>
    </div>
  </form>
</div>