/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body{
    font-family: "Lato";
}

a:visited{
    text-decoration: none !important;
}

a,a:hover{
    background-color: #005099 !important;
}

.guinda{
    color:#6C1941 !important;
    font-weight:bold;
}

.color-5 ul li a{
    color:#FFF !important;
}

.blanco{
    color:#FFFFFF;
}

.color-5{
    background-color: #005099;
}
.color-4{
    background-color: #0082C8;
}
.color-3{
    background-color: #01A4E7;
}
.color-2{
    background-color: #C9DBE4;
}
.color-1{
    background-color: #E8F4FC;
}
.no-margin{
    margin: 0px;
    padding: -10px;
}
.list-no{
    text-decoration:none !important;
}

.large-padding{
    padding-top:40px;
}

.back-blanco{
  background-color: #ffffff;
}

.fondo{
  background: url("escomfoto.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.bloque{
  background-color: #292929;
  width: 740px;
  height: 220px;
  margin-top: 150px;
  border-radius: 10px;
  opacity: 0.7;
}

.boton{
  opacity: 0.7;
  width: 250px;
  font-size: 20px;
}

