/*Estilos de los encabezados del Politécnico*/

.titulos_ipn{
    list-style: none;
    padding:0;
    margin-top:30px;
}

.titulos_ipn li{
    display: inline-block;
}

.titulos_ipn li a{
    padding:5px;
    display: inline-block;
    color:#6C1941;
    font-size: 11px;
    font-weight: bolder !important;
    text-decoration: none;
}

/*Estilos para la barra de navegación*/

#menumovil{
    margin:5px;
}

.header-title{
    margin-top: 10px;
}

.enlace,.enlace:visited,.enlace:active{
    background-color: #005099 !important;
    color: #E8F4FC !important;
    text-decoration: none;
}

.opciones{
    margin-top: 5px !important;
}

.boton_acerca,.boton_acerca:hover,.boton_acerca:active,.boton_acerca:visited,.boton_acerca:focus{
    border: none !important;
    padding: 15px;

}
