<!DOCTYPE html>
<html>
  <%= render "partials/recursos" %>
  <body>
    <%= render "partials/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "partials/piepagina" %>
  </body>
</html>
